version: 1
disable_existing_loggers: false

formatters:
  simple:
    format: "[%(levelname)s] %(asctime)s - %(name)s: %(message)s"
  json:
    format: '{"timestamp": "%(asctime)s", "level": "%(levelname)s", "logger": "%(name)s", "message": "%(message)s"}'

handlers:
  console:
    class: logging.StreamHandler
    formatter: simple
    stream: ext://sys.stdout
  file:
    class: logging.handlers.RotatingFileHandler
    formatter: json
    filename: /var/log/offsec-guardian/guardian.log
    maxBytes: 10485760
    backupCount: 5

loggers:
  guardian:
    level: INFO
    handlers: [console, file]

root:
  level: INFO
  handlers: [console, file]
